<ion-header>
        <ion-toolbar>
            
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
    
            <ion-title>Criar Restaurante</ion-title>
    
            <ion-buttons slot="end">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (submit)="onInsert()">
    
    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Restaurante</ion-label>
        <ion-input formControlName="place"></ion-input>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Endereço</ion-label>
        <ion-input formControlName="address"></ion-input>
    </ion-item> -->

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Horário de abertura</ion-label>
        <ion-datetime formControlName="openingTime" displayFormat="HH:mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Horário de fechamento</ion-label>
        <ion-datetime formControlName="closingTime" displayFormat="HH:mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Pontos</ion-label>
        <ion-input formControlName="score"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">URL Imagem</ion-label>
        <ion-input formControlName="image"></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Salvar</ion-button>

  </form>

</ion-content>
