<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Criar Promoção</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
    <ion-row>
        <ion-col size-md="6" offset-md="3">
            <form [formGroup]="form" (submit)="onFormSubmit()">
            
                <ion-item class="ion-margin-bottom">
                    <ion-label position="floating">Promoção</ion-label>
                    <ion-input formControlName="product"></ion-input>
                </ion-item>
    
                <ion-item class="ion-margin-bottom">
                    <ion-label position="floating">Imagem</ion-label>
                    <ion-input formControlName="image"></ion-input>
                </ion-item>
            
                <ion-item class="ion-margin-bottom">
                    <ion-label position="floating">Pontos</ion-label>
                    <ion-input formControlName="score"></ion-input>
                </ion-item>
            
                <ion-button type="submit" expand="block">Salvar</ion-button>
        
            </form>
        </ion-col>
    </ion-row> 
</ion-content>
