<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" routerDirection="backward"></ion-back-button>
        </ion-buttons>
        
        <ion-title>{{paramPlace}}</ion-title>

    </ion-toolbar>
</ion-header>
  
<ion-content>
    
    
    <ion-row>
        
        <ion-col size-sm="6" offset-sm="3" size-md="4" offset-md="4">
        
            <ion-img [src]="place.image"></ion-img>
            
            <ion-label text-center>
                <h2>Promoções Disponíveis</h2>
            </ion-label>

            <ion-list>

                <div *ngFor="let promotion of promotions">
        
                    <ion-item
                        detail
                        *ngIf="promotion.store === paramPlace"
                        [routerLink]="['/', 'promocoes', promotion.store, promotion.title]" >
        
                        <ion-thumbnail>
                            <ion-img [src]="promotion.image"></ion-img>
                        </ion-thumbnail>
            
                        <ion-label>
                            <h2>{{ promotion.title }}</h2>
                            <p>Pontos: {{ promotion.score }}</p>
                        </ion-label>
        
                    </ion-item>
                    
                </div>
            
            </ion-list>  

        </ion-col>

    </ion-row>  
    
  
    
    
</ion-content>
  