<ion-header>
        <ion-toolbar>
            
            <ion-buttons slot="start">
                <ion-back-button defaultHref="/"></ion-back-button>
            </ion-buttons>
            
            <ion-title>{{paramPlace}}</ion-title>
    
            <ion-buttons slot="end">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
    
        </ion-toolbar>
    </ion-header>
  
<ion-content class="ion-padding">

    <div *ngIf="isLoading" class="ion-padding ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <ion-row *ngIf="!isLoading">

        <ion-col size-md="6" offset-md="3">
        
            <ion-card>
                <ion-img [src]="place.image"></ion-img>
            </ion-card>

            <ion-button
                color="primary" expand="block" class="ion-margin-bottom"
                [routerLink]="['/', 'promocoes', paramPlace, 'criar']" >
                Cadastrar Produto
            </ion-button>

            <ion-label class="ion-text-center">
                <h2 *ngIf="productLength > 0">Produtos Disponíveis</h2>
                <h2 *ngIf="productLength == 0">Não há produtos cadastrados</h2>
            </ion-label>

            <ion-list *ngIf="productLength > 0">
                
                <div *ngFor="let product of products">
        
                    <ion-item
                        detail
                        [routerLink]="['/', 'promocoes', paramPlace, product.title]" >
        
                        <ion-thumbnail>
                            <ion-img [src]="product.image"></ion-img>
                        </ion-thumbnail>
            
                        <ion-label>
                            <h2>{{ product.title }}</h2>
                            <p>Pontos: {{ product.score }}</p>
                        </ion-label>
        
                    </ion-item>
                    
                </div>
            
            </ion-list>  

        </ion-col>

    </ion-row>  
      
</ion-content>
  