<ion-app>

    <ion-menu side="start">
    
        <ion-header>
            <ion-toolbar>
                <ion-title>MyApps</ion-title>
            </ion-toolbar>
        </ion-header>
    
        <ion-content>
            <ion-list>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/">
                        <ion-icon name="star" slot="start"></ion-icon>
                        <ion-label>Restaurantes</ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/cadastrar-restaurante">
                        <ion-icon name="add" slot="start"></ion-icon>
                        <ion-label>Cadastrar Restaurante</ion-label>
                    </ion-item>
                </ion-menu-toggle>
        
          </ion-list>
        </ion-content>
    
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>

</ion-app>
