<ion-app>
    <!-- <ion-button routerLink="/criar-loja">Criar loja</ion-button> -->

   <!--
     <app-side-menu></app-side-menu>
    -->

  <ion-router-outlet main></ion-router-outlet>

  <ion-tabs slot="bottom">
    <ion-tab-bar color="primary">
      
      <ion-tab-button tab="meus-pontos">
        <ion-label>Pontos</ion-label>
        <ion-icon name="star"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="promocoes">
        <ion-label>Promoções</ion-label>
        <ion-icon name="bookmark"></ion-icon>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
