<ion-header>
    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-title>Promoções</ion-title>

        <ion-buttons slot="end">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf="isLoading" class="ion-padding ion-text-center">
        <ion-spinner color="primary"></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
        <ion-row *ngFor="let product of products">
    
            <ion-col size-md="6" offset-sm="3" class="ion-text-center">
              
                <ion-item detail [routerLink]="['/', 'promocoes', product.store, product.title]">
    
                    <ion-label>
                        <ion-avatar>
                            <ion-img [src]="product.image"></ion-img>
                        </ion-avatar>
                    </ion-label>
    
                    <ion-label>
                        <h2>{{ product.title }}</h2>
                        <p>{{ product.store }}</p>
                    </ion-label>
                    
                    <ion-label>
                        <p>Pontos: {{ product.score }}</p>
                    </ion-label>
    
                </ion-item>
            
            </ion-col>
    
        </ion-row>
    </div>
 
</ion-content>
